site_name: User Guide
## DEPLOYMENT URL
site_url: https://userguide.qualytics.io/
## LOCAL URL
#site_url: http://localhost:8001/userguide/
site_description: User Guide for the Qualytics data quality platform
site_author: Qualytics Team

repo_url: https://github.com/Qualytics/userguide
repo_name: GitHub
edit_uri: edit/main/docs/
copyright: Copyright &copy; 2025 Qualytics

validation:
  links:
    absolute_links: relative_to_docs

# Page tree
nav:
  - Introduction: index.md
    # new page tree structure start
  - Using the Platform:
    - onboarding.md
    - quick-start-guide.md
    - web-app.md
    - keyboard-shortcuts.md
    - Add Datastores:
      - add-datastores/overview-of-a-datastore.md
      - JDBC Datastores:
        - add-datastores/overview-of-a-jdbc-datastore.md
        - add-datastores/athena.md
        - add-datastores/bigquery.md
        - add-datastores/databricks.md
        - add-datastores/db2.md
        - add-datastores/hive.md
        - add-datastores/maria-db.md
        - add-datastores/microsoft-sql-server.md
        - add-datastores/mysql.md
        - add-datastores/oracle.md
        - add-datastores/postgresql.md
        - add-datastores/presto.md
        - add-datastores/redshift.md
        - add-datastores/snowflake.md
        - add-datastores/synapse.md
        - add-datastores/teradata.md
        - add-datastores/timescale-db.md
        - add-datastores/trino.md
        - add-datastores/dremio.md
      - DFS Datastores:
        - add-datastores/overview-of-a-dfs-datastore.md
        - add-datastores/amazon-s3.md
        - add-datastores/azure-datalake-storage.md
        - add-datastores/google-cloud-storage.md
      - connections/overview-of-a-connection.md
    # new page tree structure end
    - Source Datastores:
      - Right Click Options: source-datastore/right-click-options.md
      - Assign Tags: source-datastore/assign-tags.md
      - Catalog: source-datastore/catalog.md
      - Profile: source-datastore/profile.md
      - Scan: source-datastore/scan.md
      - External Scan: source-datastore/external-scan.md
      - Datastore Settings:
        - Settings Overview: source-datastore/settings-overview.md
        - Edit Datastore: source-datastore/edit-datastore.md
        - Link Enrichment: source-datastore/link-enrichment.md
        - Unlink Enrichment: source-datastore/unlink-enrichment.md
        - Quality Score Settings: source-datastore/quality-score-settings.md 
        - Delete Datastore: source-datastore/delete-datastore.md
    - Enrichment Datastores:
      - Overview: enrichment/overview-of-an-enrichment-datastore.md
      - Table Types:
        - Overview: enrichment/table-types.md
        - Enrichment Tables: enrichment/enrichment-tables.md
        - Remediation Tables: enrichment/remediation-tables.md
        - Metadata Tables: enrichment/metadata-tables.md
        - API Payload Examples: enrichment/api-payload-examples.md
      - Data Preview: enrichment/enrichment-datastore-preview.md
      - Supported Enrichment Datastores: enrichment-support/supported-enrichment-datastores.md
      - Manage Enrichment: 
        - Enrichment Actions: enrichment/enrichment-actions.md
        - Add Enrichment: enrichment/enrichment-datastore-creation.md
        - Edit Enrichment: enrichment/edit-enrichment.md
        - Delete Enrichment: enrichment/delete-enrichment.md  
    - Containers:
      - Overview: container/overview.md
      - Container Types: container/container-types.md
      - Container Attributes: container/container-attributes.md
      - Actions on Container: container/actions-on-container.md
      - Manage Tables and Files:
        - Settings For JDBC Table: container/manage-tables-and-files/setting-for-jdbc-table.md
        - Settings For DFS Files Pattern: container/manage-tables-and-files/setting-for-dfs-files-pattern.md
        - Identifiers: container/settings/identifiers.md
        - Grouping: container/settings/grouping.md
        - General: container/settings/general.md
        - Add Checks: container/manage-tables-and-files/add-checks.md
        - Run: container/manage-tables-and-files/run.md
        - Observability Settings: container/manage-tables-and-files/observability-settings.md
        - Export: container/manage-tables-and-files/export.md
        - Materialize: container/manage-tables-and-files/materialize.md
        - Delete: container/manage-tables-and-files/delete.md
        - Mark Tables & Files as Favorite: container/manage-tables-and-files/mark-tables-&-files-as-favorite.md
      - Field Profiles: container/field-profiles.md
      - Computed Tables and Files:
        - Overview: container/computed-tables-and-files/overview.md
        - Computed Tables: container/computed-tables-and-files/computed-tables.md
        - Computed Files: container/computed-tables-and-files/computed-files.md
        - Computed Table VS File: container/computed-tables-and-files/computed-table-vs-file.md
      - Computed Join: container/computed-join.md
      - Computed Fields: 
        - Overview: container/computed-fields/overview.md
        - Transformation Types: container/computed-fields/transformation-types.md
        - Computed Fields Details: container/computed-fields/computed-fields-details.md
        - Add Computed Fields: container/computed-fields/add-computed-fields.md
      - Data Preview: container/data-preview.md
      - Enrichment Operation:
        - Export Operation: container/enrichment-operation/export-operation.md
        - Materialize Operation: container/enrichment-operation/materialize-operation.md
    - Weight:
      - Weight Mechanism: weight/weighting.md
    - Data Quality Checks:
      - Overview: checks/overview-of-a-check.md
      - Authored: checks/authored-check.md
      - Inferred: checks/inferred-check.md
      - Rule Types:
        - Rule Types Overview: checks/rule-types-overview.md
        - After Date: checks/after-date-check.md
        - Aggregation Comparison: checks/aggregation-comparison-check.md
        - Any Not Null: checks/any-not-null-check.md
        - Before Date Time: checks/before-date-time-check.md
        - Between: checks/between-check.md
        - Between Times: checks/between-times-check.md
        - Contains Credit Card: checks/contains-credit-card-check.md
        - Contains Email: checks/contains-email-check.md
        - Contains Social Security Number: checks/contains-social-security-number-check.md
        - Contains Url: checks/contains-url.md
        - Data Diff: checks/data-diff-check.md
        - Distinct Count: checks/distinct-count-check.md
        - Entity Resolution: checks/entity-resolution.md
        - Equal to: checks/equal-to-check.md
        - Equal to Field: checks/equal-to-field-check.md
        - Exists In: checks/exists-in-check.md
        - Expected Schema: checks/expected-schema-check.md
        - Expected Values: checks/expected-values-check.md
        - Field Count: checks/field-count-check.md
        - Freshness Checks: checks/freshness-check.md
        - Greater Than: checks/greater-than-check.md
        - Greater Than Field: checks/greater-than-field-check.md
        - Is Address: checks/is-address.md
        - Is Credit Card: checks/is-credit-card-check.md
        - Is Replica Of: checks/is-replica-of-check.md
        - Is Type: checks/is-type-check.md
        - Less Than: checks/less-than-check.md
        - Less Than Field: checks/less-than-field-check.md
        - Matches Pattern: checks/matches-pattern-check.md
        - Max Length: checks/max-length-check.md
        - Max Partition Size: checks/max-partition-size-check.md
        - Max Value: checks/max-value-check.md
        - Metric: checks/metric-check.md
        - Min Length: checks/min-length-check.md
        - Min Partition Size: checks/min-partition-size-check.md
        - Min Value: checks/min-value-check.md
        - Not Exists In: checks/not-exists-in-check.md
        - Not Future: checks/not-future-check.md
        - Not Negative: checks/not-negative-check.md
        - Not Null: checks/not-null-check.md
        - Positive: checks/positive-check.md
        - Predicted By: checks/predicted-by-check.md
        - Required Values: checks/required-values-check.md
        - Satisfies Expression: checks/satisfies-expression-check.md
        - Sum: checks/sum-check.md
        - Time Distribution Size: checks/time-distribution-size-check.md
        - Unique: checks/unique-check.md
        - Volumetric Checks: checks/volumetric-check.md
      - Check Templates: checks/checks-template.md
      - Apply Check Template for Quality Check: checks/apply-check-template-for-quality-checks.md
      - Export Check Templates: checks/export-check-templates.md
    - Datastore Checks:
      - Checks : datastore-checks/checks-datastore.md 
      - Manage Checks : 
        - Overview : datastore-checks/overview.md
        - Draft Checks : datastore-checks/draft-checks.md
        - Activate Draft Check : datastore-checks/activate-draft-check.md
        - Archive Checks : datastore-checks/archive-check.md
        - Activate Archived Checks :  datastore-checks/activate-archived-checks.md
        - Draft Archived Checks : datastore-checks/draft-archived-checks.md
        - Restore Archived Checks : datastore-checks/restore-archived-checks.md
        - Edit Checks : datastore-checks/edit-checks.md
        - Delete Checks : datastore-checks/delete-checks.md
        - Dry Run : datastore-checks/dry-run.md
        - Clone Check : datastore-checks/clone-check.md
        - Quality Check Template : datastore-checks/quality-check-template.md
        - Mark Check Favorite : datastore-checks/check-favorite.md
        - Filter and Sort : datastore-checks/filter-and-sort.md
        - Quality Check Migration : datastore-checks/quality-check-migration.md
    - Observability:
      - Overview: observability/observability.md
      - Observability Categories:
        - Measures: observability/measures.md
        - Metric: observability/metric-check.md
        - Volumetric: observability/volumetric.md
        - Freshness: observability/freshness.md  
      - Manage Observability:
        - Overview: observability/manage-observability.md
        - Edit Check: observability/edit-check.md
        - Edit Threshold: observability/edit-threshold.md 
        - Edit Maximum Age: observability/edit-maximum-age.md
        - Mark Check as Favorite: observability/mark-check.md
    - Anomalies:
      - Overview: anomalies/anomalies.md
      - Types: anomalies/anomaly-types.md
      - Detection: anomalies/anomaly-detection.md
      - Details:
        - Insights: anomalies/anomaly-insights.md
        - Source Record: anomalies/source-record.md
      - Status: anomalies/anomaly-status.md
      - Fingerprints: anomalies/anomaly-fingerprints.md
      - Manage Anomalies:
        - Acknowledge Anomalies: anomalies/acknowledge-anomalies.md
        - Archive Anomalies: anomalies/archive-anomalies.md
        - Restore Anomalies: anomalies/restore-anomalies.md
        - Edit Anomalies: anomalies/edit-anomalies.md
        - Delete Anomalies: anomalies/delete-anomalies.md
        - Filter & Sort: anomalies/filter-and-sort.md
    - Explore:
      - Overview: explore/overview-of-explore.md
      - Insights: explore/insights.md
      - Activity: explore/activity.md
      - Profiles: explore/profiles.md
      - Observability: explore/observability.md
      - Checks: explore/checks.md
      - Anomalies: explore/anomalies.md
    - Flows:
      - Overview: flows/overview.md
      - Add Flow: flows/add-flow.md
      - Flow Entry: flows/flow-entry.md
      - Trigger Node: flows/trigger-node.md
      - Actions Node: 
        - Overview: flows/overview-action.md
        - Operations: flows/operations.md
        - Anomaly: flows/anomaly.md
        - Notifications: flows/notification.md
        - HTTP: flows/http.md 
      - View and Track Flow Executions: flows/view-created-flows.md
      - Manage Flow:
        - Clone a Flows: flows/clone-a-flow.md
        - Execute Manual Flow: flows/execute-manual-flows.md
        - Abort Flow: flows/abort.md
        - Sort Flow: flows/sort-flow.md
        - Edit Flow: flows/edit-flow.md
        - Delete Flow: flows/delete-flow.md
        - Deactivate Flow: flows/deactivate-flow.md
        - Activate Flows: flows/activate-flow.md
        - Clone An Action: flows/clone-an-action.md 
    - Tags:
      - Overview: tags/overview.md
      - External Tags: tags/external-tag.md
      - Manage Tags:
        - Add Tag: tags/add-tag.md
        - Applying Tag: tags/applying-a-tag.md
        - Edit Tag: tags/edit-tag.md
        - Filter and Sort: tags/filter-and-sort.md 
        - Delete Tag: tags/delete-tag.md
    - Settings:
      - Connections: settings/connections/manage-connections.md
      - Security:
        - Overview: settings/security/overview.md
        - Team Permissions: settings/security/team-permissions.md
        - Directory Sync: settings/security/directory-sync.md
      - Tokens: settings/tokens/overview-of-tokens.md
      - Service Account: 
        - Overview: settings/service-account/service-account.md
        - Create Service Account: settings/service-account/create-service-account.md 
      - Service Token:
        - Overview: settings/service-token/overview.md
        - Service Token: settings/service-token/service-token.md
        - Generate Service Account: settings/service-token/generate-service-token.md
        - Token Usage Status: settings/service-token/token-usage-status.md
        - Revoking Service Token: settings/service-token/revoking-service-token.md
        - Restore Service Token: settings/service-token/restore-service-token.md
        - Delete Service Token: settings/service-token/delete-service-token.md
        - Team Membership Strategy: settings/service-token/team-membership-strategy.md
        - Best Practices: settings/service-token/best-practices.md
      - Status: settings/status/overview-of-status.md
    - Qualytics CLI:
        - Installing Python: cli/python-installation.md
        - Overview: cli/overview-of-qualytics-cli.md
    - Integrations:
        - Overview: settings/integrations/overview.md
        - Data Catalogs:
          - Overview: settings/integrations/catalog/overview.md
          - Atlan: settings/integrations/catalog/atlan.md
          - Alation: settings/integrations/catalog/alation.md
          - Microsoft Purview: settings/integrations/catalog/purview.md
          - External Tag Propagation: settings/integrations/catalog/external-tag-propagation.md
        - Single Sign-On: settings/integrations/sso/sso.md
        - Compute: settings/integrations/compute/compute.md
        - Alerting:
          - Overview: settings/integrations/alerting/overview.md
          - Slack: settings/integrations/alerting/slack.md
          - Microsoft Teams: settings/integrations/alerting/msft_teams.md
        - Ticketing: settings/integrations/ticketing/ticketing.md
        - Workflow: settings/integrations/workflow/workflow.md
        - Analytics: settings/integrations/analytics/analytics.md
        - AI & Agents:
          - MCP: settings/integrations/ai/mcp.md
          - Agentic API: settings/integrations/ai/agentic.md
    - FAQ:
      - quality-scores/what-are-quality-scores.md
      - printing.md
    - Misc:
      - deployments/overview.md
      - upgrades/qualytics-single-tenant-instance.md
      - deployments/databricks-deployment.md
      - External Automation: 
        - Overview: operation-automation/overview.md
        - Linux Machine: operation-automation/linux-machine.md
        - Windows Machine: operation-automation/windows-machine.md
        - Automated Setup Using Qualytics CLI: operation-automation/automated-setup-using-qualytics-cli.md
      - dfs-globbing/how-dfs-filename-globbing-works.md
      - glossary.md

  # - glossary.md
  - API docs: https://demo.qualytics.io/api/docs
  - Changelog:
    - changelog.md
    - changelog-2024.md
    - changelog-2023.md

extra_css:
  - stylesheets/extra.css

# Configuration
theme:
  palette:
    # Palette toggle for light mode
    # - media: "(prefers-color-scheme: light)"
    - scheme: default
      primary: white
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode

    # Palette toggle for dark mode
    # - media: "(prefers-color-scheme: --md-primary-fg-color--dark)"
    - scheme: slate
      primary: white
      toggle:
        icon: material/brightness-7
        name: Switch to light mode
  logo: assets/Logo.png
  favicon: assets/Q_sm_logo.png
  name: material
  custom_dir: overrides
  font:
    text: Manrope

  features:
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.path
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - content.action.edit
    - content.action.view
    - content.code.copy
    - content.code.annotate
    - content.tables.sortable  # Adds horizontal scroll only to table
    # - content.tabs.link

markdown_extensions:
  - pymdownx.tabbed:
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.snippets
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - def_list
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - tables
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search:
      exclude:
        - components/anomaly-support/*
        - components/comparators/*
        - components/general-props/*
  - exclude:
      glob:
      - components/anomaly-support/*
      - components/comparators/*
      - components/general-props/*
  - git-revision-date-localized
  - include-markdown
  - macros
  - redirects:
      redirect_maps:
        'settings/integrations/atlan.md': 'settings/integrations/catalog/atlan.md'
        'deployments/deployments.md': 'deployments/overview.md'
  - print-site:
      add_to_navigation: false
      print_page_title: 'Print Site'
      add_print_site_banner: false
      # Table of contents
      add_table_of_contents: false
      toc_title: 'Table of Contents'
      toc_depth: 6
      # Content-related
      add_full_urls: false
      enumerate_headings: false
      enumerate_figures: true
      add_cover_page: true
      cover_page_template: ""
      path_to_pdf: ""
      include_css: true
      enabled: !ENV [MKDOCS_SERVE, true] # disable the print plugin when we are developing locally
      exclude:

extra:
  homepage: https://qualytics.ai
  analytics:
    provider: google
    property: G-46N5E3NXG0
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback! Help us improve this page by
            using our <a href="https://github.com/Qualytics/userguide/issues" target="_blank" rel="noopener">issue tracker for this user guide</a>.
  comparator_short_desc: Specifies how variations are handled, allowing for slight deviations within a defined margin of error.

