:root > * {
    --md-primary-fg-color:        #FFFFFF;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #002175;
}

.md-typeset spam#required > code{
    color: lightcoral;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
  }

.md-typeset spam#not-required > code{
  color: lightgreen;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
}

.md-typeset spam#single-field > code{
  color: orange;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
}

.md-typeset spam#multiple-fields > code{
  color: orangered;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
}

.md-typeset spam#none-field > code{
  color: gray;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3 {
  font-weight: 600;
}

.md-typeset h1, .md-nav__title {
  color: var(--md-default-fg-color);
}

.md-nav--lifted>.md-nav__list>.md-nav__item>[for], .md-nav__item--section>.md-nav__link[for] {
  color: var(--md-default-fg-color);
}

.md-tabs__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  height: 100%;
}

.md-tabs__link--active {
  position: relative;
}

.md-tabs__link--active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--md-accent-fg-color);
}

.grayscale {
  filter: grayscale(100%);
}

.text-primary {
  color: #357AE3;
}

.text-negative {
  color: #FF4714;
}

.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) {
  display: table;
  max-width: 100%;
}
