[data-md-color-scheme="default"] {
  --md-primary-fg-color: #FFFFFF;
  --font-color: #000000;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark: #002175;
  --md-main-bg-color: #F1F6FB;
  --md-tabs-bg-color: #FFFFFF;
  --md-nav-bg-color: #F1F6FB;
  --md-primary-color: #007CF2;
  --md-search-bg-color: #F1F6FB;
  --md-hover-bg-color: #33333320;
  --md-footer-button: #FFFFFF;
  --md-search__inner: #33333320;
  --md-footer-bg-color: #FFFFFF;
  --logo-url: url("../assets/Logo.png");
}

/* ===== DARK MODE ===== */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #FFFFFF;
  --font-color: #FFFFFF;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark: #002175;
  --md-main-bg-color: #161F39;
  --md-tabs-bg-color: #222c46;
  --md-nav-bg-color: #161F39;
  --md-primary-color: #007CF2;
  --md-search-bg-color: #2a3441;
  --md-hover-bg-color: ##FFFFFF20;
  --md-footer-button: #FFFFFF;
  --md-search__inner: #33333320;
  --md-footer-bg-color: #222c46;
  --logo-url: url("../assets/Logo-dark.svg");
}

:root>* {
  --md-primary-fg-color: #FFFFFF;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark: #002175;
}

.md-typeset spam#required>code {
  color: lightcoral;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
}

.md-typeset spam#not-required>code {
  color: lightgreen;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
}

.md-typeset spam#single-field>code {
  color: orange;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
}

.md-typeset spam#multiple-fields>code {
  color: orangered;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
}

.md-typeset spam#none-field>code {
  color: gray;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  font-weight: 600;
}

.md-typeset h1,
.md-nav__title {
  color: var(--md-default-fg-color);
}

.grayscale {
  filter: grayscale(100%);
}

.text-primary {
  color: #357AE3;
}

.text-negative {
  color: #FF4714;
}

.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) {
  display: table;
  max-width: 100%;
}

.md-header {
  color: var(--font-color);
  background-color: var(--md-tabs-bg-color);
}

/* Navigation tab */
.md-tabs {
  color: var(--font-color);
  background-color: var(--md-tabs-bg-color);
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 14px;
}

/* Navigation item */
.md-tabs__item {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  height: 36px;

  .md-tabs__link {
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
    min-width: 100%;
    min-height: 100%;
    border-radius: 4px;
    align-items: center;
  }

  :hover {
    background-color: var(--md-hover-bg-color);
  }
}

/* Navigation item active */
.md-tabs__item--active {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  height: 36px;

  .md-tabs__link {
    cursor: default;
    color: #ffffff;
    background-color: var(--md-primary-color);
  }
}

/* Search bar */
.md-search__inner {
  color: #ECB7B7;

  .md-search__form {
    background-color: var(--md-nav-bg-color);
    border: 1px solid var(--md-search__inner);
    border-radius: 6px;

    .md-search__input {
      color: var(--font-color);
    }

    .md-search__input::placeholder {
      color: var(--font-color);
    }

    .md-search__icon {
      color: var(--md-primary-color);
    }
  }
}


/* All button */
.md-icon {
  color: var(--md-primary-color);
}

/* Innter button (view or edit page button) */
.md-content__button {
  color: var(--md-primary-color) !important;

  :hover {
    opacity: 0.7;
  }
}

.md-main {
  background-color: var(--md-nav-bg-color);
}

.md-nav__title {
  background: var(--md-nav-bg-color) !important;
  box-shadow: none !important;
}

.md-nav__link {
  background: var(--md-nav-bg-color) !important;
  box-shadow: none !important;
}


.md-footer__button {
  color: var(--md-primary-color);
}

.md-footer__title {
  color: var(--md-primary-color);
}

.md-footer {
  color: var(--font-color);
  background-color: var(--md-footer-bg-color);

  .md-footer-meta {
    color: var(--font-color);
    background-color: var(--md-footer-bg-color);

    .md-typeset {
      color: var(--font-color) !important;
    }

  }

  .md-copyright {
    color: var(--font-color) !important;

    .md-copyright__highlight {
      color: var(--font-color) !important;
    }

    a {
      color: var(--md-primary-color) !important;

      :hover {
        text-decoration: underline !important;
      }
    }
  }
}

.md-logo img,
.md-logo svg {
  display: none !important;
}

.md-logo {
  display: flex !important;
  width: 112px;
  height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

[data-md-color-scheme="default"] .md-logo {
  background-image: url("../assets/Logo.png");
}

[data-md-color-scheme="slate"] .md-logo {
  background-image: url("../assets/Logo-dark.svg");
}